# Defining digest algo to be used for rpm signing
%_gpg_digest_algo sha256
# Switching to gpg agent signing
%__gpg_check_password_cmd %{__gpg} gpg --batch --no-verbose --use-agent -u "%{_gpg_name}" -so -
%__gpg_sign_cmd %{__gpg} gpg --batch --no-verbose --no-armor --use-agent --no-secmem-warning %{?_gpg_digest_algo:--digest-algo %{_gpg_digest_algo}} -u "%{_gpg_name}" -sbo %{__signature_filename} %{__plaintext_filename}'
