
#!/bin/bash

# This script will just locally verify TLS cert validity date and report to Zabbix
end_date=$(openssl x509 -in /home/{{ stylo_local_user }}/.centos.cert -noout -text|sed -n 's/ *Not After : *//p')
end_date_seconds=$(date '+%s' --date "$end_date")
now_seconds=$(date '+%s')
remaining_days=$(echo "($end_date_seconds-$now_seconds)/24/3600" | bc)
zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k stylo_tls_validity -o ${remaining_days} >/dev/null
