[Unit]
Description=Stylo Signing worker
DefaultDependencies=no
After=network.target
After=beanstalkd.target

[Install]
WantedBy=multi-user.target
Alias=stylo-signing-worker.target

[Service]
Type=simple
User={{ stylo_local_user }}
Group={{ stylo_local_user }}
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty2
ExecStart=/home/{{ stylo_local_user }}/stylo-code/signing_queue_worker
Restart=on-failure
RestartSec=1
