# This file contains variables for some bash scripts used for signing
# Where to log
log_dir="/home/$USER/logs"

# Enable zabbix notifications
zabbix_send=true

# gpg keys
{% for sig in stylo_gpg_sigs %}
gpg_{{ sig.name }}="{{ sig.key_id }}"
{% endfor %}

# main mirror ref server to push content to
master="{{ stylo_master_node }}"
push_user="{{ stylo_push_user }}"
mirror_basedir="{{ stylo_mirror_basedir }}"
mirror_stream_basedir="{{ stylo_mirror_stream_basedir }}"
buildlogs_basedir="{{ stylo_buildlogs_basedir }}"
debug_basedir="{{ stylo_debug_basedir }}"
vault_basedir="{{ stylo_vault_basedir }}"

# Where is kojishare nfs path mounted
repo_dist_dir="/mnt/kojishare/koji/repos-dist/"

# For the images/spins, which artifacts do we need to push to mirror CDN
images_artifacts="{{ stylo_images_artifacts }}"

# For mqtt notifications (publisher)
mqtt_host="{{ stylo_mqtt_host }}"
mqtt_port="8883"
mqtt_tls_key="/home/{{ stylo_local_user }}/.centos.cert"
mqtt_tls_cert="/home/{{ stylo_local_user }}/.centos.cert"
mqtt_ca_cert="/home/{{ stylo_local_user }}/.centos-server-ca.cert"
mqtt_topic_pub="{{ stylo_mqtt_topic_pub }}"
